[submodule "externals/ej-tailwind-config"]
	path = externals/ej-tailwind-config
	url = https://github.com/dfjxps2/ej-tailwind-config.git
[submodule "externals/ej-ui"]
	path = externals/ej-ui
	url = https://github.com/dfjxps2/ej-ui.git
[submodule "externals/ej-eslint-config"]
	path = externals/ej-eslint-config
	url = https://github.com/dfjxps2/ej-eslint-config.git
